server:
  address: 0.0.0.0
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/app;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
  h2:
    console:
      enabled: true
      path: /h2
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

# 여기부터는 spring 밖(최상위)
fastapi:
  base-url: http://localhost:8000
  connect-timeout-ms: 4000
  read-timeout-ms: 30000

app:
  upload:
    dir: ./uploads
  jwt:
    secret: "this-is-a-very-long-secret-key-32bytes-min-OK-123456"
    expiry-minutes: 10080

logging:
  level:
    org.hibernate.SQL: debug

